<!-- //BEFORE IFRAME , I JUST USED EMBEDD AND USE PDF NAMES FROM THE PUBLIC DIRE IN THE SRC -->
<!-- <embed type="application/pdf" src="A.R.T ONLINE CLASSES.pdf" height="620px" width="100%"/> -->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <title>A.R. Tutorials Notes</title>
        
        <link rel="stylesheet" href="/stylesheets/notes.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <!-- GOOGLE FONT -->
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>


    </head>
    <body>

<!-- <nav class="navbar fixed-top navbar-expand-lg ">
    <a class="navbar-brand" href="/" style="font-family: 'RocknRoll One', sans-serif; color: white; font-size: 1.5rem; margin-left: 20px; padding-top: 10px;"> A.R.T.</a>
</nav> -->

<!-- ========================= HAMBURGER MENU =============================== -->

<div class="ham" id="onepage">
    <div class="hamburger-menu">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
      <span>Close</span>
    </div>
    <section class="sidebar">
        <ul class="menu">
          <li class="menu-item">
            <a href="/" class="menu-link" data-content="Home">Home</a>
          </li>
          
          <li class="menu-item">
            <a href="/notes" class="menu-link" data-content="Contact">Notes</a>
          </li>
        </ul>
        <div class="social-media">
          <a href="https://www.facebook.com/artutorialss"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/a.r_tutorials/"><i class="fab fa-instagram"></i></a>
          <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
        </div>
      </section>


<div class="container-fluid" style= "padding-top:12vh" >
	<div id="accordion" style="width: 50vw; margin-left: 25vw;">
        <div class="card" style="opacity: 0.8;" >
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-family: 'RocknRoll One', sans-serif; font-size: 1.5rem " >
                CLASS IX
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/9eng" >English</a></span><br>
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/9math" >Maths</a></span><br>
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/9sci" >Science</a></span><br>
              </div>
          </div>
        </div>
        <div class="card" style="opacity: 0.8;">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="font-family: 'RocknRoll One', sans-serif; font-size: 1.5rem ">
                CLASS X
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/10eng" >English</a></span><br>
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/10math" >Maths</a></span> <br>
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/10sci" >Science</a></span> <br>
              </div>
          </div>
        </div>
        <div class="card" style="opacity: 0.8;">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="font-family: 'RocknRoll One', sans-serif; font-size: 1.5rem">
                CLASS XI
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/11phy" >Physics</a></span> <br>
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/11chem" >Chemistry</a></span> <br>
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/11math" >Maths</a></span> <br>
             </div>
          </div>
        </div>
        <div class="card" style="opacity: 0.8;">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="font-family: 'RocknRoll One', sans-serif; font-size: 1.5rem ">
                  CLASS XII
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                  <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/12phy" >Physics</a></span> <br>
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/12chem" >Chemistry</a></span> <br>
                <i class="fas fa-angle-double-right"></i>  <span id="sub"><a href="/12math" >Maths</a></span> <br>
                </div>
            </div>
          </div>
      </div>

	
	
</div>

<script>
    window.onload = () => {
  setTimeout(() => {
    document.querySelector("body").classList.add("display");
  }, 4000);
};

document.querySelector(".hamburger-menu").addEventListener("click", () => {
  document.querySelector(".ham").classList.toggle("change");
});

document.querySelector(".scroll-btn").addEventListener("click", () => {
  document.querySelector("html").style.scrollBehavior = "smooth";
  setTimeout(() => {
    document.querySelector("html").style.scrollBehavior = "unset";
  }, 1000);
});


</script>
<script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
 <!-- !-- popper --> 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
 <!-- bootstrap js -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
</body>
</html>

<!-- <iframe src="https://drive.google.com/embeddedfolderview?id=13jVjm4sWdzsNtBYxxhL5XmmtwhKk07iI#grid" style="width:100%; height:600px; border:0;"></iframe> -->
