<!-- //BEFORE IFRAME , I JUST USED EMBEDD AND USE PDF NAMES FROM THE PUBLIC DIRE IN THE SRC -->
<!-- <embed type="application/pdf" src="A.R.T ONLINE CLASSES.pdf" height="620px" width="100%"/> -->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <title>A.R. Tutorials Notes</title>
        
        <link rel="stylesheet" href="/stylesheets/notes.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
        
        <!-- font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    
    <!-- GOOGLE FONT -->
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
      </head>
    
<body style="background-color: rgba(0, 0, 0,0.1);">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="color: black; font-size: 1.3rem ; font-weight: 600;">  <i class="fas fa-home"></i> A.R.T.</a>
        </div>
       
    </div>
</nav>

<div class="container"> 
  <h1 style="padding-bottom: 5vh; text-align: center; padding-top: 12vh;">NOTES/ ASSIGNMENTS/ TESTS</h1>

  <div class="container" style="width: 58vw;">
    <details class="bg-dark">
      <summary>Class IX </summary>
  <!-- 		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p> -->
      <p><a href="/9eng" style="color: white;">English</a><br>
        <a href="/9math"style="color: white;">Maths</a><br>
        <a href="/9sci" style="color: white;">Science</a>
      </p>
    
    </details>
    <details class="bg-info">
      <summary>Class X </summary>
      <!-- 		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p> -->
          <p><a href="/10eng" style="color: white;">English</a><br>
            <a href="/10math" style="color: white;" >Maths</a><br>
            <a href="/10sci" style="color: white;">Science</a>
          </p></details>
    <details class="bg-success">
      <summary>Class XI </summary>
      <!-- 		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p> -->
          <p><a href="/11phy" style="color: white;">Physics</a><br>
            <a href="/11chem" style="color: white;">Chemistry</a><br>
            <a href="/11math" style="color: white;">Maths</a><br>
            <a href="/11bst" style="color: white;">B.Studies</a><br>
            <a href="/11eco" style="color: white;">Economics</a><br>
            <a href="/11eng" style="color: white;">English</a>
          </p></details>
          <details class="bg-primary">
            <summary>Class XII </summary>
            <!-- 		<p>If your browser supports this element, it should allow you to expand and collapse these details.</p> -->
                <p><a href="/12phy" style="color: white;">Physics</a><br>
                  <a href="/12chem" style="color: white;">Chemistry</a><br>
                  <a href="/12math" style="color: white;">Maths</a><br>
                  <a href="/12bst" style="color: white;">B.Studies</a><br>
                  <a href="/12eco" style="color: white;">Economics</a><br>
                  <a href="/12eng" style="color: white;">English</a>
                </p></details>
  </div>
  
</div>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<!--popper --> 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
<!-- bootstrap js -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
</body>
</html>

<!-- <iframe src="https://drive.google.com/embeddedfolderview?id=13jVjm4sWdzsNtBYxxhL5XmmtwhKk07iI#grid" style="width:100%; height:600px; border:0;"></iframe> -->
